body,
div,
ul,
li,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
	padding: 0;
	margin:0;
	font-family: "Roboto", sans-serif;
}

/* Keep the navbar from overlapping other content*/
body {
	padding-top: 70px;
}


.education-entry,
.work-entry,
.project-entry {
	padding: 0 5%;
}

body,
.education-entry,
.work-entry,
.project-entry {
	background-color: #222;
}

/* Elements */

h1 {
	font-size: 40px;
	color: #f5a623;
	line-height: 48px;
	display: inline;
}

h2 {
	font-weight: bold;
	font-size: 24px;
	color: #ccc;
	line-height: 29px;
	padding: 10px;
}

h3 {
	font-style: italic;
	font-size: 20px;
	color: #bbb;
	line-height: 22px;
}

h2,
h3,
h4,
h5 {
	padding:10px 5%;
}

p {
	font-size: 14px;
	color: #aaa;
	line-height: 21px;
}

a {
	color: #1199c3;
	text-decoration: none;
	margin-top: 10px;
	display: block;
}

em {
	color: #aaa;
}

img {
	padding: 10px;
}

span {
	padding: 5px;
}

ul {
	list-style-type: none;
}


/* Classes */

/* A small logo to fit in a navbar :) */
.logo {
	max-height: 50px;
	width: auto;
}

.welcome-message {
	font-style: italic;
	font-size: 18px;
	color: #f3f3f3;
	line-height: 28px;
}

.orange-text {
	color: #f5ae23;
}

.white-text {
	font-weight: bold;
	color: #fff;
}

.lightgrey-text {
	font-weight: bold;
	color: lightgrey;
}

.flex-box {
	display: -webkit-flex;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	padding: 10px;
}

.center-content {
	padding: 2.5% 5%;
}

.biopic {
	float: left;
	padding: 10px;
	width: 200px;
	display: none;
}

.section-separator {
	border-color: #000;
	width: 80%;
}

/* Stop overlapping the anchors when jumping to them */
.anchor {
	padding-top: 70px;
	margin-top: -70px;
}

.date-text {
	font-style: italic;
	font-size: 14px;
	color: #777;
	line-height: 16px;
	float: left;
}

.location-text {
	font-style: italic;
	font-size: 14px;
	color: #999;
	line-height: 16px;
	float: right;
}


/* IDs */

/* Lightly darkened background image, to keep text readability */
#header {
	background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(http://data.whicdn.com/images/50838450/original.png) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

#skills-h3 {
	color: #f5ae23;
	display: none;
}

#map {
	display: block;
	height: 100%;
	margin: 0 5%;
}

#mapDiv {
	height: 600px;
	width: 100%;
	padding-bottom: 5%;
}


/* Media queries to handle various device widths */

@media only screen and (max-width:900px) {
	.biopic {
		width: 175px;
	}
}

@media only screen and (max-width: 750px) {
	.biopic {
		width: 150px;
	}
	.welcome-message {
		display: none;
	}
}

@media only screen and (min-width: 750px) {
	#skills-h3,
	.biopic {
		display: block;
	}
}
